
page-tutorial {
  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 4.8em;
    color: #fff;
  }

  b {
    font-weight: 500;
  }
  .slide-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 136px;
    height: 136px;
    margin-top: -68px;
    margin-left: -68px;
  }

  .slide-description {
    padding: 0 54px;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    position: absolute;
    bottom: 6.4rem;
    b {
      color: #fff;
    }
  }
  .swiper-pagination-bullet{
    background: #ff6c00 
  }
  .slide-skip {
    margin-top: 2.2rem;
    position: relative;
    float: right;
    color: #ff6c00;
  }
}
