page-complete-account ion-content {
  background: #636262 !important;
  color: rgba(255, 255, 255, .9) !important;

  .page-title {
    margin-top: 4.4rem;
    font-size: 1.2em;
    text-align: center;
  }
  .profile {
    padding: 2px;
    font-size: 1.1em;
    text-align: center;
    color: #ff6600;
  }
  ion-row {
    padding-right: 16px;
  }
  .input-field {
    background: transparent;
    color: rgba(255, 255, 255, .9) !important;
    
    ion-label {
      color: rgba(255, 255, 255, .9) !important;
    }
  }
  .button-finish {
    background: #ff6600;
    text-transform: capitalize;
  }
  .birthday {
    ion-datetime {
      margin-bottom: -13.6px !important;
    }
    .datetime-text:empty:not(:focus):before{
      content: "Date of Birth";
      color: rgba(255, 255, 255, .4);
    }
  }
  .sex {
    text-align: right;
    ion-select {
      padding: 0px 2px !important;
      width: 100% !important;
      max-width: 100% !important;
      margin-bottom: -13.6px !important;

      .select-text {
        text-align: right;
        padding-right: 8px;
      }
    }
  }
}
