page-referral-link ion-content {
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }

  .div-header {
    margin-top: 2.4rem;
    .page-title {
      border-bottom: solid 1px rgba(0, 0, 0, 0.8);
    }
  }
  .input-field {
    // background: transparent;
    color: rgba(0, 0, 0, .9) !important;
    
    ion-label {
      color: rgba(0, 0, 0, .9) !important;
    }
    
  }
  form {
    margin-top: 4.8rem;
  }
  .button-referrallink {
    margin-top: 3.2rem;
    background: #ff6600;
    text-transform: capitalize;
  }
}
